<% no_prototypes = true %>
<% @project.pidoco_keys.each do |pidoco_key| %>
  <% prototype = pidoco_key.prototype %>
  <% if prototype %>
  <% no_prototypes = false %>
  <% discussions = prototype.discussions %>

	<%# jsh: HTML ids and classes should not contain _ but use - instead! http://devedge-temp.mozilla.org/viewsource/2001/css-underscores/ %>
	<div id="prototype_<%= prototype.id %>" style="margin-bottom:20px">
    	<%= content_tag(:h2, l(:Discussions_for) + l(:Prototype) + "'" + h(prototype.name) + "'", :id => h(prototype.name)) %>
    	<% if discussions.length == 0 %>
      		<div><%= l(:no_discussions) %></div>
		<% else %>
  			<% prototype.page_names.each do |page| %>
				<% first_iteration = true %>
	      		<% discussions.each do |discussion| %>
					<% if discussion.page_id == page[0] %>
						<% if first_iteration %>
							<%= content_tag(:h3, h(page[1])) %>
							<% first_iteration = false %>
						<% end %>
		        		<% discussion_text = '' %>
		        		<% discussion["entries"].each do |entry| %>
										<%# jsh: HTML escape!! %>
		          			<%  discussion_text +=  entry["author"] + ': ' + entry["text"] + " | "%>
		        		<% end %>
		
						<% if @project.module_enabled?(:issue_tracking) %>
							<%# jsh: _ vs. - %>
							<%# jsh: HTML escape!! %>
							<div id="prototype_<%= prototype.id %>_<%= discussion.id %>" class="contextual" style="padding-bottom:20px">
				        		<%= link_to l(:new_issue_from_discussion), 
				          			{:controller => :issues, :action => 'new', :project_id => @project, 
				          			:issue => {:subject => discussion.title + ' (Prototype ' + prototype.name + ')', 
									:description => discussion_text}} %>
							</div>
						<% end %>
						<%= content_tag(:h4, l(:Discussion) + ": " + h(discussion.title)) %>
						<ul>
							<% discussion.entries.each do |entry| %>
								<li>
									<small><%= h format_time(Time.at(entry["timestamp"]/1000)) %>, <%= l(:by) %>
									<%= h entry["author"] %>:</small><br/> 
									<%= h entry["text"] %>
								</li>
			        		<% end %>
						</ul>
					<% end %>
	      
				<% end %>
			<% end %>
    	<% end %>
	</div>
	<% end %>
<% end %>

<% if no_prototypes %>
	<h2><%= t(:Pidoco) %></h2>
	<p class="nodata"><%= l(:no_prototypes_available)%></p>
<% end %>