<% no_prototypes = true %>
<% @project.pidoco_keys.each do |pidoco_key| %>
  <% prototype = pidoco_key.prototype %>
  <% if prototype %>
  <% no_prototypes = false %>
  <% discussions = prototype.discussions %>

	<div id="prototype-<%= h prototype.id %>" style="margin-bottom:20px">
    	<%= content_tag(:h2, l(:Discussions_for) + l(:Prototype) + "'" + h(prototype.name) + "'", :id => h(prototype.name)) %>
    	<% if discussions.length == 0 %>
      		<p class="nodata"><%= l(:no_discussions) %></p>
		<% else %>
  			<% prototype.page_names.each do |page| %>
				<% first_iteration = true %>
	      		<% discussions.each do |discussion| %>
					<% if discussion.page_id == page[0] %>
						<% if first_iteration %>
							<%= content_tag(:h3, h(page[1])) %>
							<% first_iteration = false %>
						<% end %>
		        		<% discussion_text = '' %>
		        		<% discussion["entries"].each do |entry| %>
		          			<%  discussion_text +=  h(entry["author"]) + ': ' + h(entry["text"]) + " | "%>
		        		<% end %>
		
						<% if @project.module_enabled?(:issue_tracking) %>
							<div id="prototype-<%= h prototype.id %>-<%= h discussion.id %>" class="contextual" style="padding-bottom:20px">
				        		<%= link_to l(:new_issue_from_discussion), 
				          			{:controller => :issues, :action => 'new', :project_id => @project, 
				          			:issue => {:subject => h(discussion.title) + ' (Prototype ' + h(prototype.name) + ')', 
									:description => h(discussion_text)}} %>
							</div>
						<% end %>
						<%= content_tag(:h4, l(:Discussion) + ": " + h(discussion.title)) %>
						<ul>
							<% discussion.entries.each do |entry| %>
								<li>
									<small><%= h format_time(Time.at(entry["timestamp"]/1000)) %>, <%= l(:by) %>
									<%= h entry["author"] %>:</small><br/> 
									<%= h entry["text"] %>
								</li>
			        		<% end %>
						</ul>
					<% end %>
	      
				<% end %>
			<% end %>
    	<% end %>
	</div>
	<% end %>
<% end %>

<% if no_prototypes %>
	<h2><%= t(:Pidoco) %></h2>
	<p class="nodata"><%= l(:no_prototypes_available)%></p>
<% end %>