<% if @project.pidoco_keys.any? %>
	<table class="list">
	<thead><th><%= l(:field_key) %></th><th></th></thead>
	<tbody>
	<% @project.pidoco_keys.each do |pidoco_key| %>
		<tr class="<%= cycle 'odd', 'even' %>">
		<td><%= link_to_if_authorized h(pidoco_key.key), {:controller => 'pidoco_keys', :action => 'edit', :id => pidoco_key, :project_id => @project} %></td>
		<td><%= link_to_if_authorized "", {:controller => 'pidoco_keys', :action => 'destroy', :project_id => @project, :id => pidoco_key}, :method => :post, :class => 'icon icon-del' %></td></tr>
	<% end %>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</tbody>
</table>
<p>
<span style="float:right">
  <%= link_to l(:clear_pidoco_cache), {:controller => 'pidoco_keys', :action => 'clear_cache', :project_id => @project} %>
</span>
<%= link_to l(:new_pidoco_key), {:controller => 'pidoco_keys', :action => 'new', :project_id => @project} %></p>