<div class="pidoco-box box">
  <h3><%= l(:prototypes_for_project) %></h3>
	<% no_prototypes = true %>
	<ul>
	<% @project.pidoco_keys.each do |pidoco_key| %>
	  <% if prototype = pidoco_key.prototype %>
			<% no_prototypes = false %>
			<li><%= link_to(h(prototype.name), 
	          :controller => :discussions, 
	          :action => :index, 
	          :project => @project, 
	          :anchor => "prototype-#{prototype.id}") %>: <%= l(:last_changed_on) %> <%= format_time(Time.at(Integer(prototype.last_modified)/1000)) %><br/>

    			<% discussions = prototype.discussions %>

    			<% if discussions.size > 0 %>
          			<%= discussions.size %> <%= l(:label_discussion_plural)%>, <%= l(:last_entry_on) %> <%= format_time(last_discussed_at(discussions)) %>
    			<% else %>
    				<%= l(:no_discussions) %>
    			<% end %>
			</li>
		<% end %>
	<% end %>
	</ul>
	<% if no_prototypes %>
		<%= l(:no_prototypes_available) %>
	<% else %>
		<%= link_to(l(:view_all_discussions), 
	      :controller => :discussions, 
	      :action => :index, 
	      :project => @project) %>
	<% end%>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "pidoco.css", :plugin => "redmine_pidoco" %>
<% end %>
