<div class="pidoco_box box">
  <h3><%= l(:prototypes_for_project) %></h3>
	<% no_prototypes = true %>
  <% @project.pidoco_keys.each do |pidoco_key| %>
	<ul>
  	<% Prototype.find_with_api(:all, :conditions => {:pidoco_key_id => pidoco_key.id}).each do |prototype| %>
			<% no_prototypes = false %>
			<li><%= link_to(prototype.name, 
	          :controller => :discussions, 
	          :action => :index, 
	          :project => @project, 
	          :anchor => h("prototype_#{prototype.id}")) %>: <%= l(:last_changed_on) %> <%= format_time(Time.at(Integer(prototype.last_modified)/1000)) %><br/>
	
				<% discussions = Discussion.find_with_api(:all, :conditions => {:prototype_id => prototype.id})
				lastDiscussed = Time.at(0)
				discussions.each do |discussion|
					if lastDiscussed < discussion[:last_discussed_at]
						lastDiscussed = discussion[:last_discussed_at]
					end
				end %>
	
				<% if discussions.length > 0 %>
	      			<%= discussions.length%> <%= l(:discussions)%>, <%= l(:last_entry_on) %> <%= format_time(lastDiscussed) %>
				<% else %>
					<%= l(:no_discussions) %>
				<% end %>
 			</li>
			<% end %>
	<% end %>
	</ul>
	<% if no_prototypes %>
		<%= l(:no_prototypes_available) %>
	<% end%>
	<%= link_to(l(:view_all_discussions), 
      :controller => :discussions, 
      :action => :index, 
      :project => @project) %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "pidoco.css", :plugin => "redmine_pidoco" %>
<% end %>
