<%= render :partial => 'pidoco/projectid_js' %>
<%= javascript_include_tag "pidocodiv", :plugin => 'redmine_pidoco' %>
<div class="box">
  <h3><%= l(:prototypes_for_project) %></h3>  
  <div id="pidocodiv">
  <%= l(:waiting_for_pidoco) %>
  </div>
  <p><a href="http://www.pidoco.com"><%= l(:goto_repository) %></a></p>
</div>